.div
{
    background-size: cover;
    color: black;
    background-color: aliceblue;
    text-align: center;
}
.atambebek
{
width:100px ;
height: 50px;
}
.resim
{
    width: 100px;
    height: 50px;
}